.NavbarComp {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    background-color:lightskyblue;
    color: blue;
    box-shadow: 0 4px lightseagreen;
    font-size: 18px;
    font-weight: 600;
  }
  
  .NavbarComp Link {  color: blue; }

  .userStats {
    margin-right: 10px;
    justify-content: space-between;
  }